/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/layout";
@import 'compass/css3';

.div{
	background: purple;
	color:white;
	width:auto;	
	height:200px;
}

.font-size{
	font-size:1.5em;
}

.display{
	display: inline-flex;
	
}